@charset "Utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url(fontes/idroid.otf) format('opentype');
}

:root{
    --cor1: #89CDA5;
	--cor2: #5CBE7D;
	--cor3: #1A5A37;
    --fonte-padrao: Arial, Verdana, Helvetica, sans_serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;
    --box-shadow-padrao-texto: 2px 2px 5px rgba(0, 0, 0, 0.400);
    --simbolo-link-externo: "\00a0\1F517";

}

body{
    background-color: #89CDA5;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

a.ext:after{
    content: '\00A0\1F517';
}

header{
    min-height: 150px;
    width: 1057;
    margin: 0px;
    padding: 5px;
    padding-top: 30px;
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    box-shadow: var(--box-shadow-padrao-texto);
}
header>h1{
    color: white;
    text-align: center;
    font-size: 2em;
    font-family: var(--fonte-destaque);
    text-shadow: var(--box-shadow-padrao-texto);
    padding: 0px;
    margin: 5px;
}
header>h2{
    color: white;
    text-align: center;
    font-size: 15px;
    font-weight: lighter;
    font-family: var(--fonte-padrao);
    text-shadow: var(--box-shadow-padrao-texto);
    padding: 12px;
    margin: 12px;
}
nav{
    background-color: #1A5A37;
    margin: 0px;
    padding: 10px;
    box-shadow: var(--box-shadow-padrao-texto);
}
nav>a{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1em;
    font-weight: bold;
    text-decoration: underline;
    height: 30px;
    margin: 10px;
    padding: 8px;
}
nav>a:hover{
    background-color: #5CBE7D;
    border-radius: 5px;
    transition-duration: .5s;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    border-radius: 0px 0px 5px 5px;
}

main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

main a{
    text-decoration: none;
    font-weight: bold;
    background-color: #a8ecc4;
    color: #1A5A37;
    padding: 2px 6px;
}
 
main a:hover{
    text-decoration: underline;
    color:#2FA866
}

main strong{
    color: #2FA866;
    font-weight: bold;
    padding: 2px 2px;
}

article{
    padding: 20px;
    padding-bottom: 10px;
}
article>h1{
    font-family: var(--font-android);
    color: #1A5A37;
}
article>h2{
    font-family: var(--font-android);
    font-weight: lighter;
    background-image: linear-gradient(to right,var(--cor2),white);
    border-radius: 10px;
    color: #1A5A37;
    padding: 4px;
}
article>p{
    min-width: 300px;
    max-width: 1000px;
    line-height: 30px;
    text-align: justify;
    text-indent: 25px;
    padding: 5px 10px;
}
.video{
    position: relative;
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding-bottom: 55.9%;
    padding-top: 25px;
    text-align: center;
}
.video>iframe{
    position: absolute;
    top: 4%;
    left: 4%;
    width: 92%;
    height: 92%;
    }
aside{
    background-color: #C5EBD6;
    border-radius: 10px;
    padding: 7px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow-padrao-texto);
}
aside>h3{
    color: white;
    background-color: #2FA866;
    font-weight: bold;
    padding: 10px;
    margin: -10px -7px 20px -7px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.144);;
}
aside>p{
    padding: 10px;
    margin: 5px;
    line-height: 30px;
    text-align: justify;
}
aside>ul{
    margin: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
    padding: 20px;
}
aside>li{
    margin: 0px;
    padding: 0px;
}
footer{
    background-color: #1A5A37;
    color: white;
    margin: 0px;
    padding: 0px;
    text-align: center;
    line-height: 30px;
   
    box-shadow: var(--box-shadow-padrao-texto);
}