@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root{
    --font001: ;

}

*{
    margin:0px;
    padding: 0px;
}

html, body{
    background-color: darkgray;
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

 header>h1{
    padding-top: 50px;
    /*text-transform: uppercase; Letra maiuscula*/
    font-variant: small-caps;
}

 header>p{
    padding-bottom: 50px;
}

 header>a , footer>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

 header>a:hoover, footer>a:hoover{
    text-decoration:underline ;
}

main{

}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-size: large;
    font-weight: bold;
}

section.normal{
    background-color: white;
    font-family: 'Passion One', cursive;
    box-shadow: 0px 0px 10px black;  
}

section.imagem{
    background-image: url(imagens/background001.jpg);
    color: white;
    background-size: 125%;
    background-position: -300px ;
    background-repeat:no-repeat;
    background-attachment: fixed;
    font-family: 'Sriracha', cursive;
}

section.imagem > p{
    background-color: rgba(0, 0, 0, 0.349);
    width: 400px;
}

footer > p{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}