@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}

body{
    background-image: linear-gradient(to right, #6F73BF,#3F3CA6);

}

main 
{
    text-justify: auto;
    background-color: #c7cafa;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #3d590280;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1
{
   color: #3E5902;
   /*text-shadow: 1px 1px 2px #124d1f63;*/
}
h2
{
   color: #618C03;
}
p
{
    text-align: justify;
}

